#info {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
}
.night #info {
    background: rgba(0, 0, 0, 0.75);
}
#info.collapsed {
    background: none;
}

#infoInner {
    overflow: hidden;
}
.collapsed #infoInner {
    height: 1.3em;
}

#more {
    color: #AAA;
    display: none;
    line-height: 1.3em;
    margin: 0.35em 0 0.4em;
}
.night #more {
    color: #888;
}
.collapsed #more {
    display: block;
}

#info p {
    line-height: 1.3em;
    margin: 0 0 0.4em;
    overflow: hidden;
}
#info.collapsed p {
    white-space: nowrap;
    text-overflow: ellipsis;
}
#info p > span {
    margin-right: 8pt;
}

.hlit {
    color: #777;
}
.night .hlit {
    color: #BBB;
}

#gif {
    visibility: hidden;
    width: 75%;
    height: 75%;
    position: absolute;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.night #gif {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.night {
    color: white;
    background: black;
}
